@mixin flex($direction:row, $align-items:none, $justify-content:none) {
  align-items:$align-items;
  display:flex;
  direction:$direction;
  justify-content:$justify-content;
}

%flex-row {
  display:flex;
  flex-direction:row;
}