@mixin flex($direction:row, $align-items:none, $justify-content:none) {
  align-items:$align-items;
  display:flex;
  direction:$direction;
  justify-content:$justify-content;
}

%align-x-and-y {
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
}

%flex-row {
  display:flex;
  flex-direction:row;
}